{{ define "main" }}
<h1>{{ .Title }}</h1>

<div class="monster-grid">
  {{ range sort .Pages ".Params.id" "asc" }}
    <div class="monster-card">
      {{ with .Params.image }}
        <a href="{{ .RelPermalink }}">
          <img src="{{ (print "/" .) | relURL }}" alt="{{ $.Title }}">
        </a>
      {{ else }}
        <div class="monster-noimage">No Image</div>
      {{ end }}

      <div class="monster-name">
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      </div>
    </div>
  {{ end }}
</div>
{{ end }}
